div{    
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180px 180px;
}

  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto  ;
    grid-template-rows: 200px 100px auto ;
    padding: 10px;
    height:500px;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid red;
    box-shadow: red 0px 0px 8px;
    margin-left: 20%;
    margin-right: 20%;
  }

  /* barra de carga */
  .item2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(img/browse.gif);
 }

  .item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(img/mario.gif);
  }

  .item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(img/princesa.gif);
  }

  .item6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(img/luigi.gif);
  }

  .item7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(img/king.gif);
  }

.titulo{
  text-align: center;
  margin-top:6%;
  animation-name: cambiarColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes cambiarColor{
  0%{ 
    color:red;

  }
  50%{ 
    color:yellow;

  }
  100%{ 
    color:red;

  }
}

body{
  background-color:black;
}

.barra{
  background-color:#A5A5A5;
  height:20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  border-radius: 15px;
}

.progreso{
  background-color: green;
  animation-name: load;
  animation-duration: 8s;
  height:20px;
  border-radius: 15px;
  text-align: center;
}

@keyframes load{
  0%{ 
    width: 0%;
    background-color:#5FEA72;

  }
  25%{ 
    width: 25%;
    background-color:#71E481;
  }
  50%{ 
    width: 50%;
    background-color:#53CC64;
  }
  75%{
     width: 75%;    
     background-color:#31AD43;
    }
  100%{ 
    width: 100%;
    background-color:green;
  }
}

.progreso:before{
  content: "¡Carga completada!";
  color:white;
  animation-name: porciento;
  animation-duration: 8s;
  font-weight: bold;
  text-align: center;

}

@keyframes porciento{
  0%{
    content: "0%";
    color:blue;
  }
  25%{ 
    content: "25%";
    color:blue;

  }
  50%{ 
    content: "50%";
    color:blue;

  }
  75%{
    content: "75%";
    color:blue;

    }
  100%{ 
    content: "100%";
    color:blue;

  }
}

footer{
  color:white;
  text-align: center;
  font-weight: bold;
}

/* ----------------------------------- */

@media (max-width: 499px) {
  .grid-container {
    grid-template-columns: 150px 150px;
    grid-template-rows: 80px 10px auto auto;
    height:600px;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: none;
    box-shadow: none;
  }

  /* barra de carga */
  .item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
 }

  .item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .item6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .item7 {
    display: none;
  }

  .titulo{
    font-size:6px;
  }

  footer{
    margin-top:-13%;
  }
  
}