////
/// GALLERY
/// @author Sebastian Bermudez Herrera
/// @since 1.0
////

/// Columnas maximas
/// @type Maxcolunms
$MAX_COLUMNS: 4 !default;

/// Mapa de amaños de las pantallas en px responsive
/// @type Map
$RESPONSIVE_COLUMNS: (
  1024px: 3,
  768px: 2,
  480px: 1,
);

/// Calcula el ancho total según el ancho de columnas del grid
/// @param {Numerico} $n La columna (grid) asignada
/// @return {((100 / $n)) * 1%} Divide el total del tamaño entre las columnas
///
@function grid_columns($n) {
  @if ($n > 0) {
    @return ((100 / $n)) * 1%;
  } @else {
    @return 0;
  }
}

/// Reduce la columna segun el tamaño de la pantalla
/// @param {Numerico} $n La columna (grid) asignada
///
@mixin resize($n) {
  .gallery img {
    width: grid_columns($n);
  }
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

.gallery {
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

@include resize($MAX_COLUMNS);

///
/// Adapta cada columna con el mapa
///
@each $size, $value in $RESPONSIVE_COLUMNS {
  @media (max-width: $size) {
    @include resize($value);
  }
}
