////
/// LOADER
/// @author Sebastian Bermudez Herrera
/// @since 1.0
////

/// Valor de la duracion de la animacion
/// @type Duracion
$duration: 10s !global;

/// Mixin con valores fijados. Luego se hace un include con el selector universal.
///
@mixin reset {
  margin: 0;
  padding: 0;
  text-align: center;
}

/// Mixin con valores fijados para la barra.
///
@mixin reset-load {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

///
/// Mixin con valores para el tamaño de la barra.
/// @param {Porcentaje} $width Anchura de la barra
/// @param {Numerico px} $height Altura
///
@mixin size($width: 100%, $height: 50px) {
  width: $width;
  height: $height;
}

* {
  @include reset;
}

.loader {
  display: block;
  position: relative;
  border: 2px solid #fff;
  @include size($height: 50px);

  &::before {
    background-color: red;
    animation: load $duration linear infinite;
    @include reset-load;
    @include size(0, $height: 100%);
  }

  &::after {
    font-size: 30pt;
    color: yellow;
    animation: text_load $duration linear infinite;
    @include reset-load;
    @include size(100%, 100%);
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes text_load {
  @for $porcentaje from 1 through 10 {
    #{$porcentaje*10}% {
      content: "#{$porcentaje*10}%";
    }
  }
}
